<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>117</real>
	<key>angleVariance</key>
	<real>243</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>1</real>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.38999998569488525</real>
	<key>finishColorVarianceBlue</key>
	<real>0.34000000357627869</real>
	<key>finishColorVarianceGreen</key>
	<real>0.34000000357627869</real>
	<key>finishColorVarianceRed</key>
	<real>0.9100000262260437</real>
	<key>finishParticleSize</key>
	<real>12</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>16.809999465942383</real>
	<key>gravityy</key>
	<real>162.27000427246094</real>
	<key>maxParticles</key>
	<real>20</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.32843339443206787</real>
	<key>particleLifespanVariance</key>
	<real>0.0</real>
	<key>radialAccelVariance</key>
	<real>27.170000076293945</real>
	<key>radialAcceleration</key>
	<real>282.6400146484375</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>1225.8800048828125</real>
	<key>rotationEndVariance</key>
	<real>-1012.1599731445312</real>
	<key>rotationStart</key>
	<real>1111.3800048828125</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>863</real>
	<key>sourcePositionVariancey</key>
	<real>-64</real>
	<key>sourcePositionx</key>
	<real>538.84002685546875</real>
	<key>sourcePositiony</key>
	<real>160</real>
	<key>speed</key>
	<real>116</real>
	<key>speedVariance</key>
	<real>24</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>1</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0.75999999046325684</real>
	<key>startColorVarianceBlue</key>
	<real>0.11999999731779099</real>
	<key>startColorVarianceGreen</key>
	<real>0.33000001311302185</real>
	<key>startColorVarianceRed</key>
	<real>0.23999999463558197</real>
	<key>startParticleSize</key>
	<real>27</real>
	<key>startParticleSizeVariance</key>
	<real>296</real>
	<key>tangentialAccelVariance</key>
	<real>67.44000244140625</real>
	<key>tangentialAcceleration</key>
	<real>18.25</real>
	<key>textureFileName</key>
	<string>0.png</string>
</dict>
</plist>
